* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  background-color: white;
  color: #49616E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Fraunces, sans;
  font-weight: 400;
  color: #162E3C;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
}

.text-bold {
  font-weight: 700;
}

.theme-blue-white {
  background-color: #162E3C;
  color: white;
}

.theme-green-blue {
  background-color: #DDF0A7;
  color: #162E3C;
}


.row {
  display: flex;
  flex-wrap: wrap;
}
.col-4 { /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-3 {
  flex: 25% 1 1;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 1 1;
}
.col-5 {
  flex: 41.6% 1 1;
}
.col-6 {
  flex: 50% 1 1;
}
.col-7 {
  flex: 58.3% 1 1;
}
.col-8 {
  flex: 66.6% 1 1;
}
.col-9 {
  flex: 75% 1 1;
}
.col-10 {
  flex: 83% 1 1;
}
.col-11 {
  flex: 91.6% 1 1;
}
.col-12 {
  flex: 100% 1 1;
}